<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>JS stack</span>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <mat-card>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScq9AXz_2YCGgDT8F3K0pNbzSoY3G7SlYJ-yM98sfd5RJE8zQ/viewform?embedded=true" width="640" height="955" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </mat-card>
  <mat-card *ngFor="let item of items">
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{item.description}}
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button href="{{item.url}}" color="primary">More</a>
    </mat-card-actions>
  </mat-card>
</main>
